<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/github-markdown-css/github-markdown.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}"/>
    <script th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/lib/marked/marked.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="main-content" layout:fragment="content"></div>
</div>
<div class="footer-script" layout:fragment="footer-script"></div>
</body>
</html>
